<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12">&nbsp;</div>
    <form class="col-sm-6">
      <h2>Adminpanel login</h2>
      <div *ngIf="loginError" class="alert alert-danger" role="alert">
        <h2>Fejl i login</h2>
        <p>E-mail eller password er forkert</p>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" [(ngModel)]="loginData.email" name="email" [ngClass]="{'valid': loginData.email !== '', 'invalid': loginEmpty && !validEmail(loginData.email)}" class="form-control" aria-describedby="emailHelp" placeholder="E-mail eller brugernavn" required>
        <p *ngIf="!validEmail(loginData.email)" id="emailError" class="form-text" [style.color]="red">E-mail eller brugernavn skal udfyldes og være i korrekt format</p>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" [(ngModel)]="loginData.password" name="password" [ngClass]="{'valid': loginData.password !== '', 'invalid': loginEmpty}" class="form-control" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
    </form>
    <div class="col-sm-12">&nbsp;</div>
  </div>

</div>
