<div class="container" id="homeComponent">
  <h1>
    Vi er billige & <br>
    Vi tager alle opgaver store som små
  </h1>
  <section>
    <section>
      <div class="row">
        <h2 class="col-sm-12">Services</h2>
        <article class="col-sm-6">
            <figure>
              <img src="/assets/media/agent.jpg" alt="Agent">
            </figure>
            <p>#1</p>
        </article>
        <article class="col-sm-6">
            <figure>
              <img src="/assets/media/agent.jpg" alt="Agent">
            </figure>
            <p>#1</p>
        </article>
          <article class="col-sm-6">
            <figure>
              <img src="/assets/media/agent.jpg" alt="Agent">
            </figure>
            <p>#1</p>
        </article>
          <article class="col-sm-6">
            <figure>
              <img src="/assets/media/agent.jpg" alt="Agent">
            </figure>
            <p>#1</p>
        </article>
          <a href="" class="col-sm-12">Se mere</a>
      </div>
        <hr>
      <div class="row">
        <h2 class="col-sm-12">Chefens blog</h2>
        <article class="col-sm-12">
          <div class="row">
            <figure class="col-sm-3">
                <img src="/assets/media/work.jpg" alt="Agent">
              </figure>
              <p class="col-sm-auto">
                blog post
              </p>

          </div>
        </article>
      </div>
    </section>
    <section>
      <article>
        <h2>Om os</h2>
        <figure>
          <img src="/assets/media/people.jpg" alt="Om os">
        </figure>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, consectetur!</p>
      </article>
      <article>
        <h2>ros og ros</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam beatae nulla porro culpa, hic dolorum ab, inventore accusantium voluptatum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam beatae nulla porro culpa, hic dolorum ab, inventore accusantium voluptatum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam beatae nulla porro culpa, hic dolorum ab, inventore accusantium voluptatum.
        </p>
        <a href="#">Se dem alle</a>
      </article>
      <form>
        <h2>nyhedsbrev</h2>
        <input type="email" name="email" placeholder="Enter email address">
        <button type="submit">GO</button>
      </form>
    </section>
  </section>
</div>
