<div class="container" id="homeComponent">
  <h1>
    Vi er billige & <br>
    Vi tager alle opgaver store som små
  </h1>
  <section>
    <section>
      <div class="row">
        <h2 class="col-sm-12">Services</h2>
        <article class="col-sm-6" *ngFor="let service of serviceList; let i = index">
          <div *ngIf="i < 4">
            <figure>
              <img [src]="mediaPath+mediaList[i].filePath+mediaList[i].filename" alt="Billede tag">
            </figure>
            <p>{{service.serviceShortdesc}}</p>
          </div>
        </article>
          <a routerLink="/Services" class="col-sm-12">Se mere</a>
      </div>
      
        <hr>
      
        <div class="row">
            <h2 class="col-sm-12">Chefens blog</h2>
            <div *ngFor="let post of blogList; let i = index">
              <article class="col-sm-12" *ngIf="i < 3">
                <div class="row">
                  <figure class="col-sm-1">
                      <img [src]="mediaPath+post.filePath+post.filename" width="100" height="100" alt="Agent">
                    </figure>
                    <div class="col-sm-8">
                      <h5>{{post.postTitle}}</h5>
                      <p>{{post.postedDate}}</p>
                      <p class=" col-sm-4" [innerHTML]="post.postContent">
                        
                      </p>
                    </div>
      
                </div>
              </article>
            </div>
          
        </div>
    
      
    </section>
    <section>
      <article>
        <h2>Om os</h2>
        <figure>
          <img src="/assets/media/people.jpg" alt="Om os">
        </figure>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, consectetur!</p>
      </article>
      <article>
        <h2>ros og ros</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam beatae nulla porro culpa, hic dolorum ab, inventore accusantium voluptatum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam beatae nulla porro culpa, hic dolorum ab, inventore accusantium voluptatum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam beatae nulla porro culpa, hic dolorum ab, inventore accusantium voluptatum.
        </p>
        <a href="#">Se dem alle</a>
      </article>
      <form>
        <h2>nyhedsbrev</h2>
        <input type="email" name="email" placeholder="Enter email address">
        <button type="submit">GO</button>
      </form>
    </section>
  </section>
</div>
