#servicesComponent > h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 80px;
}

#servicesComponent > section{
    border-top: var(--primary-border);
    margin: 10px 0;
    padding: 40px 10px;
}

#servicesComponent > section .serviceList{
    
    margin: 50px 0;
}

#servicesComponent .serviceItem {
    border-bottom: var(--primary-border);
    margin-bottom: 20px;
}


#servicesComponent .serviceItem h3 {
    font-size: 18px;
    text-transform: uppercase;
}

#servicesComponent .serviceItem:nth-last-child(1),
#servicesComponent .serviceItem:nth-last-child(2)
{
    border-bottom: 0;
}