<div class="container" id="adminHome">
    <section class="sideNav">
        <h1>Kontrolpanel</h1>
        <nav>
            <ul>
                <li><a routerLink="/Admin/Dashboard" routerLinkActive="active">Dashboard</a></li>
                <li><a routerLink="/Admin/Media" routerLinkActive="active">Billeder</a></li>
                <li><a routerLink="/Admin/Blog/Posts" routerLinkActive="active">Blog</a>
                    <ul>
                        <li><a routerLink="/Admin/Blog/Categories" routerLinkActive="active">Kategorier</a></li>
                        <li><a routerLink="/Admin/Blog/Post/Add" routerLinkActive="active">Nyt indlæg</a></li>
                    </ul>
                </li>
                <li><a routerLink="/Admin/Services" routerLinkActive="active">Services</a></li>
                <li><a routerLink="/Admin/Settings" routerLinkActive="active">Settings</a></li>
            </ul>
        </nav>
    </section>
    <section class="routerOut">
        <router-outlet></router-outlet>
    </section>
</div>
