<div class="container" id="adminHome">
    <section class="sideNav">
        <h1>Kontrolpanel</h1>
        <nav>
            <ul>
                <li><a routerLink="/Admin/Dashboard" routerLinkActive="active">Dashboard</a></li>
                <li><a routerLink="/Admin/Media" routerLinkActive="active">Billeder</a></li>
                <li><a routerLink="/Admin/Services" routerLinkActive="active">Services</a></li>
            </ul>
        </nav>
    </section>
    <section class="routerOut">
        <router-outlet></router-outlet>
    </section>
</div>
